.availability {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    background-color: #{$darkBlack};
    &__text {
        font-family: #{$fontRoboto};
        color: #{$white};
        font-weight: 700;
        font-size: 1rem;
    }
    &__input {
        font-size: 14px;
        padding-bottom: 14px;
        color: #{$greyInput};
        width: 100%;
        margin: 30px 0;
        border: none;
        &:focus {
            outline: none;
        }
    }
    .input__date {
        display: flex;
        padding: 14px 0;
        font-family: #{$fontRoboto};
        color: #{$greyInput};
        &--gold {
            flex-direction: row-reverse;
            background-color: transparent;
            border-bottom: 2px solid #{$gold};
            &::-webkit-calendar-picker-indicator {
                filter: invert(0.5) sepia(1);
                -webkit-filter: invert(0.5) sepia(100%);
            }
        }
    }
    .btn--gold {
        border: none;
        font-weight: 700;
        letter-spacing: 0.2rem;
        font-family: #{$fontRoboto};
        color: #{$white};
        height: 50px;
        width: 220px;
        background-color: #{$gold};
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 1000px) {
    .availability {
        display: flex;
        flex-direction: row;
        padding: 2rem 2rem 2rem 8rem;
        align-items: center;
        justify-content: space-between;

        &__date__container {
            display: flex;
            gap: 30px;
            width: 55%;
        }

        &__date {
            width: 100%;
        }
    }
}
