.contact {
    padding: 20px;

    &_info_container {
        
        .card {
            position: relative;
            padding: 50px 15px 0 15px;
            height: 235px;
            max-width: 400px;
            margin: auto;
            .info-container {
                display: flex;
                align-items: flex-start;
                &__img {
                    margin: 0px 0 0 0;
                }
                .text-container {
                    padding-left: 27px;
                    max-width: 200px;

                    &__title {
                        font-family: #{$fontOld};
                        font-size: 20px;
                        margin-bottom: 20px;
                    }
                    &__description {
                        font-family:#{$fontArchivo};
                        font-size: 14px;
                        color: #{$footerGray};
                        a {
                            font-family:#{$fontArchivo};
                            font-size: 14px;
                            color: #{$footerGray};
                            text-decoration: none;
                        }
                    }
                }
            }
            &__img {
                &-background {
                    position: absolute;
                    bottom: 0;
                    left: 20%;
                    font-family: #{$fontArchivo};
                    font-size: 200px;
                    color: #{$footerGray};
                    opacity: 4%;
                    font-weight: 700;
                }
            }
        }
    }
    &_form {
        padding: 60px 20px 30px 20px;
        .form {
            &--column {
                margin: auto;
            }
            &__container__input {
                position: relative;
                margin: 15px 0;
            }
            &__input {
                border: none;
                font-size: 15px;
                display: inline-block;
                position: relative;
                width: 100%;
                padding: 20px 25px 20px 60px;
                background-color: #{$softGrey};
                font-family: #{$fontArchivo};
                color:  #{$footerGray};
                width: 100%;
            }
            &__icon {
                position: absolute;
                left: 20px;
                top: 20px;

                &--user {
                    filter: invert(0.6) sepia(1);
                    width: 16px;
                }
            }
            &__button {
            margin: 1.5rem 0rem;
            border: none;
            font-weight: 700;
            letter-spacing: 0.2rem;
            color: #{$white};
            background-color: #{$gold};
            height: 50px;
            width: 220px;
            }
        }
        textarea {
            height: 175px;
        }
        .button__container {
            display: flex;
            width: 100%;
            margin: auto;
            justify-content: center;
        }
    }
    &_map{
        .map__container{
        display: flex;
        justify-content: center;
        &__img{
            width: 280px;
            height: 200px;
        }
        
    }
}
}
@media only screen and (min-width: 1000px) {
   .contact {
      &_info_container {
         display: flex;
         .card {
            margin: auto;
         }
      }
      &_map{
        .map__container{
            &__img{
                width: 800px;
                height: 400px;
            }
        }
      }
      &_form {
			padding: 130px 15% 100px 15%;
         .form {
            display: flex;
				justify-content: space-between;

				&_column{
					width: 49%;
				}
         }
      }
   }
}