
.counter {
    padding: 60px 20px 50px 20px;

    &__title {
        font-family: #{$fontOld};
        font-size: 56px;
        max-width: 350px;

        &--h5 {
            font-family: #{$fontArchivo};
            font-size: 14px;
            font-weight: 700;
            color: #{$footerGray};
            letter-spacing: 3px;
            margin-bottom: 24px;
        }
    }
    &__cards {
        margin: auto;
        padding-bottom: 24px;
    }
    &__card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 0px 28px 0px;
        max-width: 350px;
        .main-container {
            display: flex;
            &__info {
                margin: 0 0 0 14px;
                .amount {
                    font-family:  #{$fontOld};
                    font-size: 60px;
                    letter-spacing: -1.8px;
                }
                .fact {
                    font-family: #{$fontRoboto};
                    font-size: 14px;
                    color: #{$footerGray};
                }
            }
        }
    }
    .swiper-counter {
        overflow: hidden;
		text-align: center;
        .swiper-wrapper {
            img {
                width: 335px;
                height: 230px;
            }
        }
        &-pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .swiper-pagination-bullet-active {
            background-color: #{$gold};
        }
    }
    &__images {
        display: none;
    }
}
@media only screen and (min-width: 1000px) {
    .counter {
        padding: 120px 10%;

        &__title {
            max-width: 100%;
            padding: 20px 75px;
            &--h5 {
                padding-left: 77px;
            }
        }
        &__cards {
            display: flex;
            justify-content: space-evenly;
            padding: 0px 0px 60px 60px;
        }
        &__card{
            .main-container{
                &__info{
                    padding-right: 1rem;
                }
            }
        }
        .swiper-counter {
            display: none;
        }
        
        &__images {
            display: flex;
            justify-content: center;
            img {
                width: 40%;
                margin: 0 30px;
            }
        }
    }
}