.header__container {
   width: 100%;
   height: 70px;
   background-color: #{$black};
   position: fixed;
   top: 0;
   z-index: 2;

   &__content {
      &__text {
         display: none;
         color: #{$white};
         font-family: #{$fontRoboto};
         margin-bottom: 10px;
      }

      .navbar__container {
         background-color: #{$white};
         height: 70px;
         display: flex;
         justify-content: space-between;
         box-shadow: 0px 3px 6px rgba(#000000, 0.29);
         .nav__links {
            display: flex;
            position: relative;
            &__burger {
               display: block;
               .navbar__nav__list {
                  &--mobile {
                     z-index: -1;
                     position: absolute;
                     list-style: none;
                     align-items: center;
                     top: 70px;
                     left: 0;
                     width: 100vw;
                     background-color: #{$white};
                  }
                  &__link {
                     font-family: #{$fontArchivo};
                     font-weight: 600;
                     margin: 1.5rem;
                     a {
                        text-decoration: none;
                        color: inherit;
                     }
                  }
               }
               &--show {
                  display: none;
               }
            }
            .burger-icon {
               margin: 1.5rem 1rem 1.5rem 1.5rem;
               &--open {
                  padding-top: 5px;
               }
               &--close {
                  padding-top: 5px;
               }
					.hidden{
						display: none;
					}
            }

            .nav__menu__links {
               display: block;

               &__home {
                  display: flex;

                  &__logo {
                     font-family: #{$fontArchivo};
                     font-size: 2rem;
                     text-align: center;
                     padding-top: 0.5rem;
                     width: 3rem;
                     height: 3rem;
                     background-color: #{$white};
                     margin: 10px;
                     box-shadow: 0px 14px 24px rgba(#8b8b8b, 0.25);
                     a {
                        text-decoration: none;
                        color: inherit;
                     }
                  }

                  &__text {
                     font-family: #{$fontArchivo};
                     display: block;
                     margin-top: 1.4rem;
                     font-size: 13px;
                     span {
                        font-weight: 700;
                     }
                  }
               }
               &__desktop {
                  display: none;
               }
            }
         }

         &__icon {
            display: flex;
            align-items: center;
            // margin-right: 1.5rem;

            &__container {
               display: flex;
               align-content: center;
               justify-content: center;
               img {
                  width: 20px;
                  margin-right: 12px;
               }
            }
            .user {
               margin-right: 20px;
            }
         }
      }
   }
}