.menu {
    padding: 115px 20px 0px 20px;
    position: relative;
    overflow: hidden;
    &__img {
        position: absolute;
        width: 100px;
        height: 110px;
        top: 0;
        right: -2px;
    }

    &__title {
        font-size: 56px;
        font-family: #{$fontOld};
        max-width: 350px;
        font-weight: 400;
        color: #{$darkBlack};
        letter-spacing: -1.2px;
        padding-bottom: 1.5rem;
        &--h5 {
            font-size: 14px;
            font-family: #{$fontArchivo};
            letter-spacing: 3px;
            font-weight: 700;
            color: #{$footerGray};
            margin-bottom: 24px;
        }
    }
    .swiper-menu {
        // position: relative;
        //   overflow: hidden;
        .swiper-wrapper {
            .swiper-slide {
                .swiper-foods__column {
                    overflow: hidden;
                    .food {
                        display: flex;
                        margin-bottom: 16px;
                        height: min-content;

                        &__img {
                            width: 120px;
                            // height: 120px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }

                        &__text {
                            padding-left: 30px;
                            padding-top: 5px;
                            max-width: 215px;

                            &__title {
                                font-size: 24px;
                                font-family: #{$fontOld};
                                margin-bottom: 9px;
                            }

                            &__description {
                                font-size: 14px;
                                font-family: #{$fontRoboto};
                                line-height: 24px;
                            }
                        }

                        &__arrow {
                            display: none;
                        }

                        &:hover {
                            background-color: #{$darkBlack};
                            color: #{$white};
                        }
                    }
                }
            }
        }
        &-buttons {
            // position: absolute;
            // bottom: -30px;
            // right: 0;
            // margin: 0 20px;
            display: flex;
            gap: 16px;
            text-align: center;
            align-items: center;
            justify-content: end;
        }

        &__button {
            background-color: #{$softGrey};
            width: 30px;
            height: 30px;
            padding: 6px 1px;
            img {
                width: 5px;
                height: 10px;
            }
            &:hover {
                background-color: #{$gold};
                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
}