.amenities {
    padding: 0 20px 45px 20px;

    &__title {
        font-family: #{$fontOld};
        font-size: 30px;
        color: #{$darkBlack};
    }

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 35px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 17px 40px;
    }
    &__item {
        display: flex;

        &__image {
            margin-right: 8px;
                max-width: 20px;
    max-height: 20px;

            &--wifi{
                width: 30px;
            }
        }

        &__text {
            font-family: #{$fontRoboto};
            font-size: 15px;
            color: #{$footerGray};
        }
    }
}