.rooms {
    padding-top: 60px;
    &__title {
        font-family: #{$fontOld};
        font-size: 48px;
        text-align: center;
        padding-bottom: 0.8rem;

        &--h5 {
            font-size: 14px;
            font-family: #{$fontArchivo};
            margin-bottom: 24px;
            color: #{$footerGray};
            letter-spacing: 3px;
        }
    }
    .swiper {
        position: relative;
        &__buttons {
            display: flex;
            position: absolute;
            top: 9rem;
            padding: 0 5%;
            z-index: 1;
            width: 100%;
            justify-content: space-between;
        }
        &-button {
            width: 32px;
            height: 32px;
            padding: 12px;
            background-color: #{$white};

            &--next {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &--prev {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:hover {
                background-color: #{$gold};
                .swiper-button {
                    &--next,
                    &--prev {
                        filter: brightness(0) invert(1);
                        -webkit-filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
}

.room-home {
    display: block;
    margin: auto;
    &__main-container {
        position: relative;
        z-index: -1;
    }
    &__img {
        width: 100%;
        height: 245px;
        background-size: cover;
        background-position: center;
        margin: auto;
    }
    &__bar {
        background-color: #{$white};
        width: 256px;
        top: 0;
        display: flex;
        justify-content: space-around;
        position: absolute;
        left:35px;
        padding: 10px;
        box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
        &__icon {
            width: 12px;
            height: 12px;
            margin: auto;
            display: inline-block;
        }
    }
    &__info {
        padding: 20px 20px 20px 20px;
        background-color: #{$white};
        width: 280px;
        margin: -2rem auto auto auto;
        text-align: center;
        &__text {
            &__title {
                font-family: #{$fontOld};
                font-size: 28px;
                color: #{$darkBlack};
            }

            &__description {
                font-family: #{$fontRoboto};
                font-size: 13px;
                color: #{$footerGray};
                margin: 12px 0;
                line-height: 1.7;
            }
        }
        &__price {
            font-family: #{$fontArchivo};
            color: #{$gold};
            text-align: center;
            &__amount {
                font-size: 32px;
            }
            &__night {
                font-size: 13px;
            }
        }
    }
}
@media only screen and (min-width: 375px){
    .room-home {
    
    display: block;
    margin: auto;
    &__main-container {
        position: relative;
        z-index: -1;
    }
    &__img {
        width: 100%;
        height: 245px;
        background-size: cover;
        background-position: center;
        margin: auto;
    }
    &__bar {
        background-color: #{$white};
        width: 280px;
        top: 0;
        display: flex;
        justify-content: space-around;
        position: absolute;
        left:50px;
        padding: 10px;
        box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
        &__icon {
            width: 12px;
            height: 12px;
            margin: auto;
            display: inline-block;
        }
    }
}
}
@media only screen and (min-width: 425px){
    .room-home {
    
    display: block;
    margin: auto;
    &__main-container {
        position: relative;
        z-index: -1;
    }
    &__img {
        width: 100%;
        height: 245px;
        background-size: cover;
        background-position: center;
        margin: auto;
    }
    &__bar {
        background-color: #{$white};
        width: 280px;
        top: 0;
        display: flex;
        justify-content: space-around;
        position: absolute;
        left:70px;
        padding: 10px;
        box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
        &__icon {
            width: 12px;
            height: 12px;
            margin: auto;
            display: inline-block;
        }
    }
}
}
@media only screen and (min-width: 768px){
    .room-home {
    
    display: block;
    margin: auto;
    &__main-container {
        position: relative;
        z-index: -1;
    }
    &__img {
        width: 100%;
        height: 245px;
        background-size: cover;
        background-position: center;
        margin: auto;
    }
    &__bar {
        background-color: #{$white};
        width: 350px;
        top: 0;
        display: flex;
        justify-content: space-around;
        position: absolute;
        left:220px;
        padding: 10px;
        box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
        &__icon {
            width: 12px;
            height: 12px;
            margin: auto;
            display: inline-block;
        }
    }
}
}
@media only screen and (min-width: 1000px) {
    .rooms {
        padding: 0;
        .swiper {
            width: 100%;
            height: 100%;
            &-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__buttons {
                width: 100%;
                left: auto;
                right: auto;
                padding: 0 20%;
            }
            &-button {
                width: 40px;
                height: 40px;
            }
        }
    }
}
@media only screen and (min-width: 1000px) {
    .room {
        &__img {
            width: 870px;
            height: 500px;
        }
        &__bar {
            width: 310px;
            height: 20px;

            &__icon {
                width: 20px;
                height: 15px;
            }
        }
        &__info {
            display: flex;
            width: 690px;
            height: 172px;
            text-align: start;
            padding: 38px 38px;
            margin: -3rem auto auto auto;
            z-index: 2;
            &__text {
                text-align: start;
                &__title {
                    font-size: 36px;
                }
            }
            &__price {
                margin: auto;
                display: flex;
                height: 40px;
                align-items: flex-end;
                &__amount {
                    font-size: 40px;
                }
                &__night {
                    font-size: 16px;
                    padding-bottom: 5px;
                }
            }
        }
    }
}
@media only screen and (min-width: 1000px){
    .room-home {
    
    display: block;
    margin: auto;
    &__main-container {
        position: relative;
        z-index: -1;
    }
    &__img {
        width: 100%;
        height: 245px;
        background-size: cover;
        background-position: center;
        margin: auto;
    }
    &__bar {
        background-color: #{$white};
        width: 220px;
        top: 0;
        display: flex;
        justify-content: space-around;
        position: absolute;
        left:35px;
        padding: 10px;
        box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
        &__icon {
            width: 12px;
            height: 12px;
            margin: auto;
            display: inline-block;
        }
    }
}
}