.room-details {
    padding: 48px 20px 60px 20px;

    &__info {
        &__title {
            font-family: #{$fontOld};
            font-size: 30px;
            font-weight: 400;
            color: #{$darkBlack};
            margin-bottom: 16px;

            &--h5 {
                font-family: #{$fontArchivo};
                font-size: 14px;
                color: #{$footerGray};
                margin-bottom: 12px;
                letter-spacing: 2px;
            }
        }

        &__price {
            font-family: #{$fontArchivo};
            color: #{$gold};
            font-weight: 700;
            margin-bottom: 16px;
            &__amount {
                font-size: 32px;
            }
            &__night {
                font-size: 13px;
                letter-spacing: 2px;
            }
        }
    }

    &__image {
        width: 100%;

        &__container {
            max-width: 400px;
            margin: auto auto 50px auto;
        }
    }

    &__availability {
        font-family: #{$fontArchivo};
        padding: 0 20px;

        &__title {
            font-size: 18px;
            text-align: center;
            margin-bottom: 36px;
            font-weight: 700;
        }

        &__label {
            font-size: 14px;
            margin-bottom: 13px;
            font-weight: 700;
        }

        &__input {
            width: 100%;
            height: 60px;
            background-color: #{$softGrey};
            color: #{$footerGray};
            padding: 0 10%;
            &::-webkit-calendar-picker-indicator {
                filter: invert(49%) sepia(0%) saturate(0%) hue-rotate(203deg) brightness(90%) contrast(95%);
                -webkit-filter: invert(49%) sepia(0%) saturate(0%) hue-rotate(203deg) brightness(90%) contrast(95%);
            }
        }

        .button--gold {
            border: none;
            margin: 1.5rem 0rem;
            font-weight: 700;
            letter-spacing: 0.2rem;
            color: #{$white};
            background-color: #{$gold};
            height: 50px;
            width: 240px;
            margin-bottom: 48px;
        }
    }

    &__description {
        font-family: #{$fontRoboto};
        font-size: 14px;
        color: #{$footerGray};
        line-height: 24px;
    }
}
@media only screen and (min-width: 1000px) {
    .room-details {
        padding: 100px 30px 60px 100px;

        &__container {
            display: flex;
        }

        &__info {
            &__container {
                position: relative;
            }

            display: flex;
            justify-content: space-between;
            width: 95%;
            background-color: #{$white};
            position: absolute;
            top: -30px;
            &__title {
                margin-bottom: 0px;
                font-size: 30px;
            }
            &__price {
                padding: 15px;
                margin-bottom: 0px;
            }
        }

        &__image {
            &__container {
                max-width: 770px;
                margin-bottom: 0px;
            }
        }

        &__availability {
            padding: 0px 0px 0px 50px;
            &__title {
                margin-bottom: 16px;
                padding-right: 6rem;
            }
            &__label {
                margin: 13px 0px;
            }
            &__input {
                margin: 0;
                width: 240px;
            }
        }

        &__description {
            padding-right: 1.5rem;
            margin-top: 2rem;
            width: 600px;
        }
    }
}
// founder block
.founder {
    padding: 0 20px;
    &__card {
        padding: 60px 20px 40px 20px;
        max-width: 370px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &__avatar {
            width: 150px;
            height: 150px;
            position: relative;
            margin-bottom: 38px;

            &__image {
                width: 100%;
                object-fit: cover;
                border-radius: 50%;
            }

            &__check {
                width: 46px;
                height: 46px;
                padding: 10px;
                position: absolute;
                background-color: #{$gold};
                border: 3px solid #{$white};
                border-radius: 50%;
                top: 0;
                right: 0;
            }
        }

        &__name {
            font-family: #{$fontOld};
            font-size: 30px;
            margin-bottom: 15px;
        }
        &__position {
            font-family: #{$fontArchivo};
            font-size: 14px;
            color: #{$darkGold};
            margin-bottom: 25px;
        }
        &__description {
            font-family: #{$fontArchivo};
            font-size: 16px;
            color: #{$footerGray};
        }
    }
}
@media only screen and (min-width: 1000px) {
    .founder {
        padding: 0 20%;
        &__card {
            box-shadow: 0px 14px 24px rgba(190, 173, 142, 0.27);
        }
    }
}
//Cancellation

.cancellation {
    padding: 63px 20px 100px 20px;

    &__title {
        font-family: #{$fontOld};
        font-size: 30px;
        color: #{$darkBlack};
        margin-bottom: 11px;
    }
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 35px;
    }

    &__description {
        font-family: #{$fontRoboto};
        font-size: 16px;
        color: #{$footerGray};
    }
}
@media only screen and (min-width: 1000px) {
    .cancellation {
        padding: 135px 40% 100px 23%;
    }
}
//Related

.related-rooms {
    padding: 0 20px;

    &__title {
        font-family: #{$fontOld};
        font-size: 30px;
        color: #{$darkBlack};
        margin-bottom: 11px;
    }
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 35px;
    }
    .swiper {
        &__buttons {
            display: flex;
            position: absolute;
            top: 7rem;

            z-index: 1;
            width: 100%;
            justify-content: space-between;
        }
        &-button {
            width: 32px;
            height: 32px;
            padding: 12px;
            padding: 6px 1px 5px 15px;
            background-color: #{$white};
            &--next {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &--prev {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &:hover {
                background-color: #{$gold};
                .swiper-button {
                    &--next,
                    &--prev {
                        filter: brightness(0) invert(1);
                        -webkit-filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
}

.room-home {
    &__bar--related {
        top: 14rem;
        left: 14px;
    }
    &__info--related {
        margin-top: 1rem;
    }
}
@media only screen and (min-width: 1000px) {
    .related-rooms {
        padding: 75px 20% 115px 20%;
    }
    .room-home {
        &__bar--related {
            top: 14rem;
            left: 200px;
        }
    }
}
