.rooms {
    padding-top: 60px;
    &__title {
        font-family: #{$fontOld};
        font-size: 48px;
        text-align: center;
        padding-bottom: 0.8rem;

        &--h5 {
            font-size: 14px;
            font-family: #{$fontArchivo};
            margin-bottom: 24px;
            color: #{$footerGray};
            letter-spacing: 3px;
        }
    }
    .swiper {
        // padding: 45px 0;
        position: relative;
        &__buttons {
            display: flex;
            position: absolute;
            top: 9rem;
            padding: 0 5%;
            z-index: 1;
            width: 100%;
            justify-content: space-between;
        }
        &-button {
            width: 32px;
            height: 32px;
            padding: 12px;
            background-color: #{$white};

            &--next {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &--prev {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:hover {
                background-color: #{$gold};
                .swiper-button {
                    &--next,
                    &--prev {
                        filter: brightness(0) invert(1);
                        -webkit-filter: brightness(0) invert(1);
}
                }
            }
        }
    }
}

.room-home {
    display: block;
    margin: auto;
    &__main-container {
        position: relative;
        z-index: -1;
    }
    &__img {
        width: 100%;
        height: 245px;
        background-size: cover;
        background-position: center;
        margin: auto;
    }
    &__bar {
        background-color: #{$white};
        width: 256px;
        top: -1rem;
        display: flex;
        justify-content: space-around;
        position: absolute;
        right: 11%;
        padding: 10px;
        &__icon {
            width: 12px;
            height: 12px;
            margin: auto;
            display: inline-block;
        }
    }
    &__info {
        padding: 20px 20px 20px 20px;
        background-color: #{$white};
        width: 280px;
        margin: -2rem auto auto auto;
        text-align: center;
        &__text {
            &__title {
                font-family: #{$fontOld};
                font-size: 28px;
                color: #{$darkBlack};
            }

            &__description {
                font-family: #{$fontRoboto};
                font-size: 13px;
                color: #{$footerGray};
                margin: 12px 0;
                line-height: 1.7;
            }
        }
        &__price {
            font-family: #{$fontArchivo};
            color: #{$gold};
            text-align: center;
            &__amount {
                font-size: 32px;
            }
            &__night {
                font-size: 13px;
            }
        }
    }
}
