.rooms-list {
    // padding: 2rem;
    display: block;
    position: relative;
    padding-right: 8px;

    .swiper {
        &-wrapper {
            padding: 0.5rem;
        }
        &-room-list {
            overflow: hidden;
        }

        &-pagination {
            position: absolute;
            bottom: 0;
            margin: 0 auto;
            width: auto;

            &-bullet {
                width: 40px;
                height: 40px;
                text-align: center;
                padding: 8px;
                border-radius: 0;
                color: #{$blackFull};
                background:  #{$white};
                opacity: 1;

                &:hover {
                    background-color: #{$gold};
                    color: #{$white};
                }

                &-active {
                    background-color: #{$gold};
                    color: #{$white};
                }
            }

            &-horizontal {
                width: auto;
            }
        }

        &-button {
            width: 40px;
            height: 40px;
            padding: 9px;

            &-container {
                display: flex;
                justify-content: space-around;
            }
            .button-img {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .prev-img, .next-img {
                cursor: pointer;
            }
        }
    }

    .room {
        width: 300px;
        padding-bottom: 28px;

        &__container {
            width: 100%;
        }

        &__img {
            width: 100%;
            height: 220px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__content {
            // margin: -20px auto auto -35px;
            width: 300px;
        }
        &__bar {
            background-color: #{$white};
            width: 256px;
            height: 40px;
            margin: auto auto 28px auto;
            display: flex;
            justify-content: space-evenly;
            box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
            position: relative;
            bottom: 10px;
            &__icon {
                width: 13px;
                height: 13px;
                margin: auto;
                display: inline-block;
            }
        }
        &__text {
            text-align: center;

            &__title {
                font-family: #{$fontOld};
                font-size: 24px;
            }

            &__description {
                font-family: #{$fontRoboto};
                font-size: 14px;
                color:  #{$footerGray};
                padding: 16px 20px;
                line-height: 24px;
            }
        }

        &__price {
            display: flex;
            justify-content: space-evenly;
            &__text {
                font-family: #{$fontArchivo};
                font-weight: 700;
                font-size: 16px;
            }
            &__amount {
                color: #{$gold};
            }
            hr {
                display: none;
            }
            &__booking {
                color:  #{$footerGray};
                opacity: 50%;
            }
        }
        &--grid {
                width: 100%;
                margin: auto;
            }    
            &__container--grid {
                display: block;
            }
            &__img--grid {
                height: 200px;
            }

            &__content--grid {
                margin: -20px auto auto auto;
            }

            &__bar--grid {
                margin: -20px auto auto auto;
                width: 80%;
            }
            &__text{
                &--grid {
                padding-top: 25px;
                }
                &__description--grid {
                    padding: 16px 30px 16px 30px;
                }
            }
        }
    }

@media only screen and (min-width: 1000px) {
    .rooms-list {
        width: 100%;
        padding: 48px 8px 48px 0;

        .swiper {
            &-button {
                &-container {
                    justify-content: space-evenly;
                }
            }
            &-grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                gap: 10px 10px;
            }
        }
        .room {
            &--list {
                width: 100%;
                margin: auto;
            }
            &__container--list {
                display: flex;
                max-width: 1200px;
            }

            &__img--list {
                max-width: 400px;
                height: 305px;
            }

            &__content--list {
                margin: -20px auto 0 auto;
                padding: 50px 20px 35px 20px;
                position: relative;
                width: 80%;
            }

            &__bar--list {
                margin: auto auto 28px 0;
            }
            &__text {
                &--list {
                    text-align: start;
                }
                &__description--list {
                    padding: 16px 0 16px 0;
                }
            }

            &__price {
                &--list {
                    position: absolute;
                    right: 0%;
                    top: 20%;
                    bottom: 50%;
                    display: block;
                    text-align: center;
                }
                    &__amount--list {
                        font-size: 40px;
                        span {
                            font-size: 16px;
                        }
                    }
                
                hr {
                    display: block;
                    margin: 10px auto;
                    border: 1px solid  #{$greyShadow};
                    opacity: 20%;
                    width: 50%;
                }
                &__booking--list {
                    color:  #{$footerGray};
                    opacity: 50%;
                    margin: auto;
                }
            }

            &--grid {
                width: 100%;
                margin: auto;
            }    
            &__container--grid {
                display: block;
            }
            &__img--grid {
                height: 200px;
            }

            &__content--grid {
                margin: -20px auto auto auto;
            }

            &__bar--grid {
                margin: -20px auto auto auto;
                width: 80%;
            }
            &__text{
                &--grid {
                padding-top: 25px;
                }
                &__description--grid {
                    padding: 16px 30px 16px 30px;
                }
            }
        }
    }
}