@import 'variables.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'ultimate.scss';
@import 'availability.scss';
@import 'aboutHome.scss';
@import 'roomHome.scss';
@import 'videoHome.scss';
@import 'facilities.scss';
@import 'menuHome.scss';
@import 'menuSwiperHome.scss';
@import 'stats.scss';
@import 'upperAbout.scss';
@import 'videoAbout.scss';
@import 'iconsAbout.scss';
@import 'restaurantAbout.scss';
@import 'facilitiesAbout.scss';
@import 'counterAbout.scss';

html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-width: 320px;
}
