.ultimate-section{
    display: flex;
    
    &__content {
        padding: 75px 20px;
        background-color: #{$black};
        width: 100vw;
    }
    &__title {
        width: 15rem;
        font-family: #{$fontRoboto};
        font-size: 13px;
        font-weight: 700;
        color: #{$white};
        margin-top: 40px;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }
    &__description {
        font-family: #{$fontOld};
        font-size: 2.8rem;
        color: #{$white};
        margin-top: 40px;
        margin-bottom: 40px;
        max-width: 20rem;
    }
    &__buttons{
        display: flex;
        flex-direction: column;
        
        &__btn{
        font-weight: 700;
        letter-spacing: 0.2rem;
        font-family: #{$fontRoboto};
        color: #{$white};
        border: 1px solid #FFFFFF;
        background-color: #{$black};
        height: 50px;
        margin-bottom: 1rem;
        width: 200px;
    }
    .btn--gold {
        border: none;
        background-color: #{$gold};
    }
    }
    
}
@media only screen and (min-width: 1000px) {
    .ultimate-section {
        display: flex;
        &__content {
            width: 100vw;
            padding: 8rem;
        }

        &__title {
            width: 20rem;
        }

        &__description {
            font-size: 56px;
            max-width: 25rem;
            margin-bottom: 35px;
        }
        &__buttons{
            flex-direction: row;
            &__btn{
                margin-right: 20px;
            }
        }

        &__links{
            right: 15%;
        }
    }
}