.upper-section {
    position: relative;
    &__content {
        padding: 75px 20px;
        background-color: #{$black};
        margin-bottom: 2rem;
    }

    &__title {
        width: 15rem;
        font-family:  #{$fontRoboto};
        font-size: 13px;
        font-weight: 700;
        color:  #{$white};
        margin-top: 40px;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }

    &__description {
        font-family: #{$fontOld};
        font-size: 2.8rem;
        color: #{$white};
        margin-top: 40px;
        margin-bottom: 40px;
        max-width: 20rem;
    }

    &__links{
        font-family:  #{$fontArchivo};
        font-weight: 700;
        background-color: #{$white};
        width: max-content;
        padding: 16px 24px;
        position: absolute;
        bottom: 0;
        right: 10%;
        &--about{
            color: #{$gold}!important;
        }
        a{
            text-decoration: none;
        }
        span{
            padding: 0 5px;
        }
        :visited {
            color: inherit;
        }

        
    }
}

@media only screen and (min-width: 1000px) {
    .upper-section {
        &__content {
            padding: 180px 20% 75px 20%;
        }

        &__title {
            width: 20rem;
        }

        &__description {
            font-size: 46px;
            
        }
        &__button{
            display: inline;
            margin-right: 30px;
        }

        &__links{
            right: 15%;
        }
    }
}