// Colors
$white:  #FFFFFF;
$black: #333333;
$darkBlack:  #222222;
$gold:#BEAD8E;
$darkGold: #BDAC8D;
$softGrey:#F8F8F8;
$footerGray:#777777;
$slider: #EDEDED;
$greyShadow: #8b8b8b;
$blackFull: #000000;
$greyInput: #686868;
$lightgrey: #F9F9F9;
$greyText: #c2c2c2;

//Family-Fonts
$fontArchivo: 'Archivo', sans-serif;
$fontOld: 'Old Standard TT', serif;
$fontRoboto: 'Roboto', sans-serif;

//Font-Size
$sizeP: 16px;
$sizeTitle: 24px;
$sizeH3: 26px;
$sizeH2:56px;
$sizeButton: 14px;

//mixins
// @mixin btn($bg,$width){
//     font-weight: 700;
//     letter-spacing: 0.2rem;
//     font-family: #{$fontRoboto};
//     color: #{$white};
//     width: $width;
//     height: 60px;
// }

:root{
    //colors
    --white: #{$white};
    --black: #{$black};
    --darkBlack: #{$darkBlack};
    --gold: #{$gold};
    --darkGold: #{$darkGold};
    --softGrey: #{$softGrey};
    --footerGray: #{$footerGray};
    --greyShadow: #{$greyShadow};
    --blackFull: #{$blackFull};
    --slider: #{$slider};
    --greyInput: #{$greyInput};
    --lightGrey: #{$lightgrey};
    --greyText: #{$greyText};
    //family-fonts
    --fontArchivo: #{$fontArchivo};
    --fontOld: #{$fontOld};
    --fontRoboto: #{$fontRoboto};
    //size-fonts
    --sizeP: #{$sizeP};
    --sizeTitle: #{$sizeTitle};
    --sizeH3: #{$sizeH3};
    --sizeH2:#{$sizeH2};
    --sizeButton: #{$sizeButton};

}