.video-about {
    &__container {
        padding: 55px 20px;
        background-color: #{$darkBlack};
    }
    &__source {
        margin-bottom: 22px;
        width: 100%;
        min-height: 270px;
        object-fit: cover;
        border: none;
        padding: 0rem 1rem;
    }
    &__p {
        font-family: #{$fontOld};
        font-size: 28px;
        text-align: center;
        font-weight: 400;
        letter-spacing: -1.3px;
        padding: 0rem 1rem;
    }
}

@media only screen and (min-width: 1000px) {
    .video-about {
        padding: 120px 10% 40px 10%;

        &__source {
            margin-bottom: 68px;
            &--mobile {
                display: none;
            }
            &--desktop {
                display: block;
            }
        }
        &__description {
            font-size: 72px;
            padding: 0 50px;
        }
        &__p {
            font-size: 50px;
            padding: 0rem 4rem;
        }
    }
}
